<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>仿写</title>
    <link href="../static/css/layout.css" rel="stylesheet" />
    <link href="../static/css/content/content-body.css" rel="stylesheet" />
    <link href="../static/css/content/content-head.css" rel="stylesheet" />
    <link href="../static/css/content/content-tag.css" rel="stylesheet" />
    <link href="../static/css/head.css" rel="stylesheet" />
</head>
<body>

<!--<img src="./static/img/profile.PNG"  alt="头像" class="insert">-->
<div class="modal"></div>
<div class="all">
    <div class="user-info">
        <div class="user-info-text">当前用户</div>
        <button class="user-info-logout">退出登录</button>
    </div>
    <div class="back-top">
        <img class="back-top-img" src="../static/img/index/back-top.svg">
    </div>

    <div class="head">

        <div class="head-search">
            <img src="../static/img/index/search.svg" class="head-search-img">
            <input class="head-search-input">
        </div>
        <div class="head-add">
            <img src="../static/img/index/add.svg" >
        </div>
    </div>
    <div class="head-navigation">
        <div class=" head-navigation-text">
            <span class=" head-navigation-text-follow">关注</span>&emsp;
            <span class=" head-navigation-text-new">最新</span>


        </div>
        <img src="../static/img/index/change.svg" class=" head-navigation-img">
    </div>
    <ul class="list">

    </ul>
</div>
</body>

<script src="../static/js/index/like.js"></script>
<script src="../static/js/index/loadPosts.js"></script>
<script src="../static/js/index/backTop.js"></script>
<script src="../static/js/index/add.js"></script>
<script src="../static/js/index/userInfo.js"></script>
<script src="../static/js/index/change.js"></script>
<!--<script src="../static/js/index/chooseImg.js"></script>-->
</html>
